input[type="range"] {
	padding: 0;
	height: 10px;
	font-size: 0;
	min-width: 130px;
	box-shadow: none;
	background: transparent;
	border: none;
	height: 22px;

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: $color-light;
		border-radius: 25px;
		transition: all 0.3s ease;
		border: 2px solid $color-gray-light;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-webkit-slider-thumb {
		@include reset-button;
		border: 0 solid transparent;
		height: 22px;
		width: 22px;
		border-radius: 50%;
		cursor: pointer;
		margin-top: -8px;
		transition: all 0.3s ease;
		background: $color-secondary;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-moz-range-track {
		width: 100%;
		height: 6px;
		cursor: pointer;
		background: $color-light;
		border-radius: 25px;
		border: 2px solid $color-gray-light;
		transition: all 0.3s ease;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-moz-range-thumb {
		border: 0 solid transparent;
		height: 22px;
		width: 22px;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s ease;
		background: $color-secondary;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			&::-webkit-slider-runnable-track {
				border-color: $color-secondary;
			}

			&::-moz-range-track {
				border-color: $color-secondary;
			}
		}
	}

	&:focus:not([disabled]) {
		box-shadow: none;

		&::-webkit-slider-runnable-track {
			border-color: $color-secondary;
			background: $color-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
		}

		&::-webkit-slider-thumb {
			border-color: $color-gray-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
			outline: none;
		}

		&::-moz-range-track {
			border-color: $color-secondary;
			box-shadow: 0 0 0 4px $color-secondary-light;
		}

		&::-moz-range-thumb {
			border-color: $color-gray-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
			outline: none;
		}
	}

	&:active:not([disabled]) {
		box-shadow: none;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-webkit-slider-thumb {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-moz-range-thumb {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}
	}

	&.big {
		min-width: 200px;
		height: 32px;

		&::-webkit-slider-runnable-track {
			height: 14px;
		}

		&::-webkit-slider-thumb {
			width: 32px;
			height: 32px;
			margin-top: -11px;
		}

		&::-moz-range-track {
			height: 10px
		}

		&::-moz-range-thumb {
			width: 32px;
			height: 32px;
		}
	}

	&.primary {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-webkit-slider-thumb {
			background: $color-primary;
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-moz-range-thumb {
			background: $color-primary;
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		@media (hover: hover) {
			&:hover:not([disabled]) {
				&::-webkit-slider-runnable-track {
					border-color: $color-primary;
				}

				&::-moz-range-track {
					border-color: $color-primary;
				}
			}
		}

		&:focus:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				border-color: $color-primary;
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-moz-range-track {
				border-color: $color-primary;
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 4px $color-primary-light;
			}
		}

		&:active:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-moz-range-track {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px $color-primary-light;
			}
		}
	}

	&.tertiary {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-webkit-slider-thumb {
			background: $color-tertiary;
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-moz-range-thumb {
			background: $color-tertiary;
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		@media (hover: hover) {
			&:hover:not([disabled]) {
				&::-webkit-slider-runnable-track {
					border-color: $color-tertiary;
				}

				&::-moz-range-track {
					border-color: $color-tertiary;
				}
			}
		}

		&:focus:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				border-color: $color-tertiary;
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-moz-range-track {
				border-color: $color-tertiary;
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}
		}

		&:active:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-moz-range-track {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}
		}
	}

	&:disabled {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			cursor: not-allowed;
			background: $color-gray-light;
		}

		&::-webkit-slider-thumb {
			background: $color-gray;
			cursor: not-allowed;
		}

		&::-moz-range-track {
			cursor: not-allowed;
			background: $color-gray-light;
		}
	
		&::-moz-range-thumb {
			background: $color-gray;
			cursor: not-allowed;
		}
	}
}
