.row {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-right: $margin-row-default;
	margin-left: $margin-row-default;

	& > * {
		padding-right: $gutter-col-default;
		padding-left: $gutter-col-default;
	}

	&.gutter-default {
		margin-right: $margin-row-default;
		margin-left: $margin-row-default;

		& > * {
			padding-right: $gutter-col-default;
			padding-left: $gutter-col-default;
		}
	}

	&.gutter-medium {
		margin-right: $margin-row-medium;
		margin-left: $margin-row-medium;

		& > * {
			padding-right: $gutter-col-medium;
			padding-left: $gutter-col-medium;
		}
	}

	&.gutter-big {
		margin-right: $margin-row-big;
		margin-left: $margin-row-big;

		& > * {
			padding-right: $gutter-col-big;
			padding-left: $gutter-col-big;
		}
	}

	@media (min-width: $screen-xs) {
		&.gutter-xs-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-xs-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-xs-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-sm) {
		&.gutter-sm-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-sm-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-sm-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-md) {
		&.gutter-md-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-md-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-md-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-lg) {
		&.gutter-lg-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-lg-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-lg-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-xl) {
		&.gutter-xl-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-xl-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-xl-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-xxl) {
		&.gutter-xxl-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-xxl-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-xxl-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}

	@media (min-width: $screen-xxxl) {
		&.gutter-xxxl-default {
			margin-right: $margin-row-default;
			margin-left: $margin-row-default;

			& > * {
				padding-right: $gutter-col-default;
				padding-left: $gutter-col-default;
			}
		}

		&.gutter-xxxl-medium {
			margin-right: $margin-row-medium;
			margin-left: $margin-row-medium;

			& > * {
				padding-right: $gutter-col-medium;
				padding-left: $gutter-col-medium;
			}
		}

		&.gutter-xxxl-big {
			margin-right: $margin-row-big;
			margin-left: $margin-row-big;

			& > * {
				padding-right: $gutter-col-big;
				padding-left: $gutter-col-big;
			}
		}
	}
}

.flex {
	display: flex;
}

.block {
	display: block;
}

.inline-block {
	display: inline-block;
}

.align-items-stretch {
	align-items: stretch;
}

.align-items-center {
	align-items: center;
}

.align-items-flex-start {
	align-items: flex-start;
}

.align-items-flex-end {
	align-items: flex-end;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-baseline {
	align-items: baseline;
}

.align-items-initial {
	align-items: initial;
}

.justify-content-flex-start {
	justify-content: flex-start;
}

.justify-content-flex-end {
	justify-content: flex-end;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-between {
	justify-content: space-between;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-initial {
	justify-content: initial;
}
