html,
body {
	margin: 0;
	padding: 0;
	min-height: 100%;
	scroll-behavior: smooth;
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	font-family: $font-text;
	font-size: $size-text-mobile;
	line-height: $lineheight-text-mobile;
	padding-top: $padding-top-body-mobile;
	color: $color-dark;
	margin: 0;

	@media (min-width: $screen-lg) {
		font-size: $size-text-desktop;
		line-height: $lineheight-text-desktop;
		padding-top: $padding-top-body-desktop;
	}
}

* {
	box-sizing: border-box;

	&:before,
	&:after {
		box-sizing: border-box;
	}

	&::selection {
		background: $color-primary;
		color: $color-light;
	}
}

main {
	display: block;
}

hr {
	background: none;
	border: none;
	border-bottom: solid 1px $color-gray-light;
	box-sizing: content-box;
	height: 0;
	overflow: visible;
	margin: 10px 0;
}

b,
strong {
	font-weight: bolder;
}

pre,
code,
kbd,
samp {
	font-family: $font-mono;
}

code {
	font-size: $size-code-mobile;
	line-height: $lineheight-code-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-code-desktop;
		line-height: $lineheight-code-desktop;
	}
}

pre {
	border-radius: 12px;
}

small {
	font-size: $size-small-mobile;
	line-height: $lineheight-small-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-small-desktop;
		line-height: $lineheight-small-desktop;
	}
}

blockquote {
	margin: 10px 0;
	padding: 0;
	font-size: $size-blockquote-mobile;
	line-height: $lineheight-blockquote-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-blockquote-desktop;
		line-height: $lineheight-blockquote-desktop;
	}
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

a,
button {
	cursor: pointer;
	outline: none;
	text-decoration: none;
	transition: all 0.3s ease;
}

a {
	background-color: transparent;
	color: $color-gray-dark;

	@media (hover: hover) {
		&:hover {
			color: $color-primary;
		}
	}
}

p {
	margin: 10px 0;

	a {
		color: $color-primary;
	
		@media (hover: hover) {
			&:hover {
				color: $color-primary-dark;
			}
		}
	}
}

blockquote,
p,
ol,
ul {
	color: $color-gray;
}

figure {
	margin: 0;
}

fieldset {
	appearance: none;
	border: none;
}

img,
svg {
	transition: all 0.3s ease;

	& * {
		transition: all 0.3s ease;
	}
}

img {
	display: inline-block;
	max-width: 100%;
	width: auto;
	height: auto;
	border-style: none;
	object-fit: contain;
}

strong,
b {
	font-weight: 700;
	color: $color-dark;
}

table {
	width: 100%;
	border-collapse: collapse;

	th,
	td {
		text-align: left;
		border-bottom: solid 1px $color-gray-light;
		padding: 5px 20px 5px 0;
		white-space: nowrap;
	}

	th {
		font-size: $size-button-mobile;

		@media (min-width: $screen-lg) {
			font-size: $size-button-desktop;
		}
	}

	td {
		font-size: $size-text-mobile;
		color: $color-gray;

		@media (min-width: $screen-lg) {
			font-size: $size-text-desktop;
		}

		&:first-of-type {
			font-weight: 600;
			color: $color-dark;
		}
	}
}
