@mixin reset-button {
	appearance: none;
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	padding: 0;
	margin: 0;
}

@mixin reset-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		padding: 0;
		margin: 0;
	}
}

@mixin font-button {
	font-size: $size-button-mobile;
	line-height: $lineheight-button-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-button-desktop;
		line-height: $lineheight-button-desktop;
	}
}

@mixin font-button-big {
	font-size: $size-button-big-mobile;
	line-height: $lineheight-button-big-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-button-big-desktop;
		line-height: $lineheight-button-big-desktop;
	}
}

@mixin font-lead {
	font-size: $size-lead-mobile;
	line-height: $lineheight-lead-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-lead-desktop;
		line-height: $lineheight-lead-desktop;
	}
}

@mixin font-input {
	font-size: $size-input-mobile;
	line-height: $lineheight-input-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-input-desktop;
		line-height: $lineheight-input-desktop;
	}
}

@mixin font-input-big {
	font-size: $size-input-big-mobile;
	line-height: $lineheight-input-big-mobile;

	@media (min-width: $screen-lg) {
		font-size: $size-input-big-desktop;
		line-height: $lineheight-input-big-desktop;
	}
}
