@mixin primary-select {
	background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDJMOCA4TDE0IDIiIHN0cm9rZT0iI0Y0M0Y1RSIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-color: $color-light;
	background-position: calc(100% - 15px) center;
	background-size: 16px;
}

@mixin secondary-select {
	background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDJMOCA4TDE0IDIiIHN0cm9rZT0iIzBFQTVFOSIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-color: $color-light;
	background-position: calc(100% - 15px) center;
	background-size: 16px;
}

@mixin tertiary-select {
	background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDJMOCA4TDE0IDIiIHN0cm9rZT0iI0E4NTVGNyIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-color: $color-light;
	background-position: calc(100% - 15px) center;
	background-size: 16px;
}

@mixin gray-select {
	background-image: url("data:image/svg+xml;base64,Cjxzdmcgd2lkdGg9IjE2IiBoZWlnaHQ9IjEwIiB2aWV3Qm94PSIwIDAgMTYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0yIDJMOCA4TDE0IDIiIHN0cm9rZT0iIzlDQTNBRiIgc3Ryb2tlLXdpZHRoPSIzIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiLz4KPC9zdmc+Cg==");
	background-repeat: no-repeat;
	background-color: $color-light;
	background-position: calc(100% - 15px) center;
	background-size: 16px;
}

input,
textarea,
select {
	appearance: none;
	transition: all 0.3s ease;
	line-height: 1;
	vertical-align: middle;
	margin: 0;
	font-family: $font-text;
	border-radius: 6px;
	border: solid 2px $color-gray-light;
	padding: 15px 15px;
	background: $color-light;
	@include font-input;

	@media (hover: hover) {
		&:hover:not([disabled]) {
			border-color: $color-secondary-light;

			&.primary {
				border-color: $color-primary-light;
			}

			&.tertiary {
				border-color: $color-tertiary-light;
			}
		}
	}

	&:focus:not([disabled]) {
		outline: none;
		box-shadow: 0 0 0 4px $color-secondary-light;
		border-color: $color-secondary;

		&.primary {
			box-shadow: 0 0 0 4px $color-primary-light;
			border-color: $color-primary;
		}

		&.tertiary {
			box-shadow: 0 0 0 4px $color-tertiary-light;
			border-color: $color-tertiary;
		}
	}

	&:active:not([disabled]) {
		box-shadow: 0 0 0 2px $color-secondary-light;

		&.primary {
			box-shadow: 0 0 0 2px $color-primary-light;
		}

		&.tertiary {
			box-shadow: 0 0 0 2px $color-tertiary-light;
		}
	}

	&:disabled {
		background: $color-gray-light;
		border-color: $color-gray;
		color: $color-gray;
		cursor: not-allowed;
		opacity: 0.9;
	}

	&.big {
		@include font-input-big;
	}

	&.full-width {
		width: 100%;
	}
}

input[type="text"],
input[type="number"],
input[type="phone"],
input[type="email"],
input[type="password"],
textarea,
select {
	display: inline-block;
	box-shadow: 0 0 0 0 $color-secondary-light;

	&.primary {
		box-shadow: 0 0 0 0 $color-primary-light;
	}

	&.tertiary {
		box-shadow: 0 0 0 0 $color-tertiary-light;
	}

	&.error {
		border-color: $color-error;
	}

	&.success {
		border-color: $color-success;
	}
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
	width: 22px;
	height: 22px;
	display: inline-block;
	position: relative;
	cursor: pointer;

	&.big {
		width: 32px;
		height: 32px;
	}
}

input[type="checkbox"] {
	&:after {
		background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDJMNC40IDhMMiA1Ljc1IiBzdHJva2U9IiMwRUE1RTkiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") no-repeat;
		background-size: contain;
	}

	&.primary {
		&:after {
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDJMNC40IDhMMiA1Ljc1IiBzdHJva2U9IiNGNDNGNUUiIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") no-repeat;
			background-size: contain;
		}
	}

	&.tertiary {
		&:after {
			background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iMTAiIHZpZXdCb3g9IjAgMCAxMiAxMCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEwIDJMNC40IDhMMiA1Ljc1IiBzdHJva2U9IiNBODU1RjciIHN0cm9rZS13aWR0aD0iMyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+Cjwvc3ZnPgo=") no-repeat;
			background-size: contain;
		}
	}

	&:after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 8px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(0, 0, 0) translate(-50%, -50%) scale(0.7);
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease;
	}

	&.big {
		&:after {
			width: 14px;
			height: 12px;
		}
	}

	&:checked {
		&:after {
			opacity: 1;
			transform: translate3d(0, 0, 0) translate(-50%, -50%) scale(1);
		}
	}
}

input[type="radio"] {
	border-radius: 50%;

	&:after {
		background: $color-secondary;
	}

	&.primary {
		&:after {
			background: $color-primary;
		}
	}

	&.tertiary {
		&:after {
			background: $color-tertiary;
		}
	}

	&:after {
		content: "";
		display: inline-block;
		width: 10px;
		height: 10px;
		background-size: contain;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate3d(0, 0, 0) translate(-50%, -50%) scale(0.7);
		border-radius: 50%;
		opacity: 0;
		pointer-events: none;
		transition: all 0.3s ease;
	}

	&.big {
		&:after {
			width: 14px;
			height: 14px;
		}
	}

	&:checked {
		&:after {
			opacity: 1;
			transform: translate3d(0, 0, 0) translate(-50%, -50%) scale(1);
		}
	}
}

select {
	min-height: 51px;
	padding-right: 40px;

	@include secondary-select;

	&.primary {
		@include primary-select;
	}

	&.tertiary {
		@include tertiary-select;
	}

	&:disabled {
		@include gray-select;
	}

	background-position: calc(100% - 15px) center;
	background-size: 16px;

	&.big {
		min-height: 55px;
	}
}

label {
	color: $color-gray;
	display: inline-block;
	vertical-align: middle;
	padding: 0 10px 0 0;
	margin: auto 0;
	line-height: $lineheight-text-mobile;

	@media (min-width: $screen-lg) {
		line-height: $lineheight-text-desktop;
	}

	&.error {
		color: $color-error;
	}

	&.success {
		color: $color-success;
	}

	&.full-width {
		width: 100%;
	}
}

.radio-check-wrapper,
.toggle-input-wrapper {
	position: relative;
	display: inline-flex;
	line-height: 1;
	vertical-align: middle;

	&.full-width {
		display: flex;
		width: 100%;
	}

	& input {
		vertical-align: top;
	}

	&.big {
		& label {
			max-width: calc(100% - 40px);
			min-width: calc(100% - 32px);
			margin-top: 5px;

			@media (min-width: $screen-lg) {
				margin-top: 4px;
			}
		}
	}

	& label {
		max-width: calc(100% - 30px);
		min-width: calc(100% - 22px);
		margin-top: 0;
		padding: 0 0 0 10px;

		@media (min-width: $screen-lg) {
			margin-top: -1px;
		}
	}
}

.toggle-input-wrapper {
	& .toggle-input-inner {
		margin-top: 0;
		vertical-align: top;
	}

	&.big {
		& label {
			max-width: calc(100% - 70px);
			min-width: calc(100% - 56px);
		}
	}

	& label {
		max-width: calc(100% - 60px);
		min-width: calc(100% - 46px);
	}
}

.toggle-input-inner {
	display: inline-block;
	margin: auto 0;
	position: relative;
	vertical-align: middle;

	& * {
		vertical-align: middle;
	}

	& input {
		@include reset-button;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		outline: none;

		&:after {
			content: none;
			display: none;
		}
	}

	& input:checked ~ .toggle-input-slider {
		&:before {
			max-width: 46px;
		}

		&:after {
			transform: translate3d(0, 0, 0) translateX(23px);
		}
	}

	& input:focus:not([disabled]) {
		border: none;
		box-shadow: none;

		& ~ .toggle-input-slider {
			outline: none;
		}
	}

	& input:active {
		box-shadow: none;
	}

	& input:disabled {
		cursor: not-allowed;
	}

	& input:disabled ~ .toggle-input-slider {
		border-color: $color-gray;

		&:before {
			background: $color-gray-light;
		}

		&:after {
			background: $color-gray;
		}
	}

	& .toggle-input-slider {
		border: solid 2px $color-gray-light;
		border-radius: 30px;
		background: $color-light;
		pointer-events: none;
		transition: all 0.3s ease;
		height: 22px;
		width: 46px;

		&:before,
		&:after {
			content: "";
			display: block;
			position: absolute;
		}

		&:before {
			top: 5px;
			left: 5px;
			width: calc(100% - 10px);
			height: calc(100% - 10px);
			max-width: 0;
			border-radius: 30px;
			transition: all 0.3s ease;
			background: $color-light;
		}

		&:after {
			left: 0;
			top: 0;
			border-radius: 50%;
			transition: all 0.3s ease;
			transform: translate3d(0, 0, 0) translateX(0);
			width: 22px;
			height: 22px;
		}
	}

	& input.big {
		width: 100%;
		height: 100%;

		& ~ .toggle-input-slider {
			height: 32px;
			width: 56px;

			&:after {
				width: 32px;
				height: 32px;
			}
		}
	}

	& input {
		&:checked {
			& ~ .toggle-input-slider {
				&:before {
					background: $color-secondary-light;
				}
			}

			&.primary ~ .toggle-input-slider {
				&:before {
					background: $color-primary-light;
				}
			}

			&.tertiary ~ .toggle-input-slider {
				&:before {
					background: $color-tertiary-light;
				}
			}
		}

		@media (hover: hover) {
			&:hover:not([disabled]) {
				& ~ .toggle-input-slider {
					border-color: $color-secondary;
				}

				&.primary ~ .toggle-input-slider {
					border-color: $color-primary;
				}

				&.tertiary ~ .toggle-input-slider {
					border-color: $color-tertiary;
				}
			}
		}

		&:focus:not([disabled]) {
			& ~ .toggle-input-slider {
				border-color: $color-secondary;
				box-shadow: 0 0 0 4px $color-secondary-light;
			}

			&.primary ~ .toggle-input-slider {
				border-color: $color-primary;
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&.tertiary ~ .toggle-input-slider {
				border-color: $color-tertiary;
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}
		}

		&:active:not([disabled]) {
			& ~ .toggle-input-slider {
				box-shadow: 0 0 0 2px $color-secondary-light;
			}

			&.primary ~ .toggle-input-slider {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&.tertiary ~ .toggle-input-slider {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}
		}

		& ~ .toggle-input-slider {
			box-shadow: 0 0 0 0 $color-secondary-light;

			&:after {
				background: $color-secondary;
			}
		}

		&.primary ~ .toggle-input-slider {
			box-shadow: 0 0 0 0 $color-primary-light;

			&:after {
				background: $color-primary;
			}
		}

		&.tertiary ~ .toggle-input-slider {
			box-shadow: 0 0 0 0 $color-tertiary-light;

			&:after {
				background: $color-tertiary;
			}
		}
	}
}

input[type="range"] {
	padding: 0;
	height: 10px;
	font-size: 0;
	min-width: 130px;
	box-shadow: none;
	background: transparent;
	border: none;
	height: 22px;

	&::-webkit-slider-runnable-track {
		width: 100%;
		height: 10px;
		cursor: pointer;
		background: $color-light;
		border-radius: 25px;
		transition: all 0.3s ease;
		border: 2px solid $color-gray-light;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-webkit-slider-thumb {
		@include reset-button;
		border: 0 solid transparent;
		height: 22px;
		width: 22px;
		border-radius: 50%;
		cursor: pointer;
		margin-top: -8px;
		transition: all 0.3s ease;
		background: $color-secondary;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-moz-range-track {
		width: 100%;
		height: 6px;
		cursor: pointer;
		background: $color-light;
		border-radius: 25px;
		border: 2px solid $color-gray-light;
		transition: all 0.3s ease;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	&::-moz-range-thumb {
		border: 0 solid transparent;
		height: 22px;
		width: 22px;
		border-radius: 50%;
		cursor: pointer;
		transition: all 0.3s ease;
		background: $color-secondary;
		box-shadow: 0 0 0 0 $color-secondary-light;
	}

	@media (hover: hover) {
		&:hover:not([disabled]) {
			&::-webkit-slider-runnable-track {
				border-color: $color-secondary;
			}

			&::-moz-range-track {
				border-color: $color-secondary;
			}
		}
	}

	&:focus:not([disabled]) {
		box-shadow: none;

		&::-webkit-slider-runnable-track {
			border-color: $color-secondary;
			background: $color-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
		}

		&::-webkit-slider-thumb {
			border-color: $color-gray-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
			outline: none;
		}

		&::-moz-range-track {
			border-color: $color-secondary;
			box-shadow: 0 0 0 4px $color-secondary-light;
		}

		&::-moz-range-thumb {
			border-color: $color-gray-light;
			box-shadow: 0 0 0 4px $color-secondary-light;
			outline: none;
		}
	}

	&:active:not([disabled]) {
		box-shadow: none;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-webkit-slider-thumb {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}

		&::-moz-range-thumb {
			box-shadow: 0 0 0 2px $color-secondary-light;
		}
	}

	&.big {
		min-width: 200px;
		height: 32px;

		&::-webkit-slider-runnable-track {
			height: 14px;
		}

		&::-webkit-slider-thumb {
			width: 32px;
			height: 32px;
			margin-top: -11px;
		}

		&::-moz-range-track {
			height: 10px
		}

		&::-moz-range-thumb {
			width: 32px;
			height: 32px;
		}
	}

	&.primary {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-webkit-slider-thumb {
			background: $color-primary;
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		&::-moz-range-thumb {
			background: $color-primary;
			box-shadow: 0 0 0 0 $color-primary-light;
		}

		@media (hover: hover) {
			&:hover:not([disabled]) {
				&::-webkit-slider-runnable-track {
					border-color: $color-primary;
				}

				&::-moz-range-track {
					border-color: $color-primary;
				}
			}
		}

		&:focus:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				border-color: $color-primary;
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-moz-range-track {
				border-color: $color-primary;
				box-shadow: 0 0 0 4px $color-primary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 4px $color-primary-light;
			}
		}

		&:active:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-moz-range-track {
				box-shadow: 0 0 0 2px $color-primary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px $color-primary-light;
			}
		}
	}

	&.tertiary {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-webkit-slider-thumb {
			background: $color-tertiary;
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-moz-range-track {
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		&::-moz-range-thumb {
			background: $color-tertiary;
			box-shadow: 0 0 0 0 $color-tertiary-light;
		}

		@media (hover: hover) {
			&:hover:not([disabled]) {
				&::-webkit-slider-runnable-track {
					border-color: $color-tertiary;
				}

				&::-moz-range-track {
					border-color: $color-tertiary;
				}
			}
		}

		&:focus:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				border-color: $color-tertiary;
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-moz-range-track {
				border-color: $color-tertiary;
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 4px $color-tertiary-light;
			}
		}

		&:active:not([disabled]) {	
			&::-webkit-slider-runnable-track {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-webkit-slider-thumb {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-moz-range-track {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}

			&::-moz-range-thumb {
				box-shadow: 0 0 0 2px $color-tertiary-light;
			}
		}
	}

	&:disabled {
		background: transparent;
		border-color: transparent;

		&::-webkit-slider-runnable-track {
			cursor: not-allowed;
			background: $color-gray-light;
		}

		&::-webkit-slider-thumb {
			background: $color-gray;
			cursor: not-allowed;
		}

		&::-moz-range-track {
			cursor: not-allowed;
			background: $color-gray-light;
		}
	
		&::-moz-range-thumb {
			background: $color-gray;
			cursor: not-allowed;
		}
	}
}
